* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}

main {
  max-height: 313px;
  padding: 0 25px;
}

.inputArea {
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 11px #666666, -5px -5px 11px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 25px 100px 50px 100px;
}

.inputArea label {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px#666;
}

.inputArea input {
  outline: none;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  font-size: 1.2rem;
  border: none;
  background: #ffffff;
  box-shadow: 5px 5px 8px #666666, -5px -5px 8px #ffffff;
}

.inputArea .buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputArea .buttons #insert {
  padding: 10px 0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: white;
  transition: 0.5s;
  border: none;
  background: #ffffff;
  box-shadow: 5px 5px 8px #666666, -5px -5px 8px #ffffff;
}

.inputArea .buttons #insert:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.inputArea .buttons #deleteList {
  border-left: none;
  font-weight: bold;
  padding: 10px 0;
  background-color: white;
  font-size: 1rem;
  border-radius: 5px;
  transition: 0.5s;
  border: none;
  background: #ffffff;
  box-shadow: 5px 5px 8px #666666, -5px -5px 8px #ffffff;
}

.inputArea .buttons #deleteList:hover {
  background-color: rgb(48, 0, 0);
  cursor: pointer;
  color: white;
}

.list {
  padding: 20px 0 10px 0;
}

.listElement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 20px 0;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 5px 5px 11px #666666, -5px -5px 11px #ffffff;
}

.deleteButton {
  font-weight: bold;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: gray;
  cursor: pointer;
  transition: color 0.5s;
}

.deleteButton:hover {
  color: red;
  text-shadow: 2px 2px 3px lightcoral;
}

.doneButton {
  margin-right: 8px;
  color: gray;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.doneButton:hover {
  color: green;
  text-shadow: 2px 2px 3px lightgreen;
}

.markedAsDone {
  text-decoration: line-through;
  opacity: 0.5;
  box-shadow: 5px 5px 11px #666666, -5px -5px 11px #ffffff;
}

.buttonDone {
  color: green;
  text-shadow: 2px 2px 3px lightgreen;
}
