* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(45deg, #cbdad5, #89a7b1) no-repeat;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #24434b;
  border-bottom: 3px solid #16292e;
  padding: 25px 0;
}

.inputArea {
  width: 80%;
  row-gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.inputArea input {
  flex-grow: 1;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  border: 3px solid #16292e;
  color: #24434b;
  background: linear-gradient(45deg, #cbdad5, #89a7b1);
}

.inputArea input::placeholder {
  color: #24434b;
}

.buttons #insert {
  margin: 0 15px;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: #89a7b1;
  cursor: pointer;
  transition: color 0.5s;
}

.buttons #insert:hover {
  color: #a9f04d;
}

.buttons #eraseList {
  font-size: 2rem;
  border: none;
  color: #89a7b1;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.5s;
}

.buttons #eraseList:hover {
  color: #cf391d;
}

/* Parte de estilização da lista */

ul li{
  max-width: 80%;
  color: #89a7b1;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 15px;
  font-size: 1.5rem;
  background-color: #24434b;
  border-radius: 10px;
  word-break: break-word;
  transition: opacity 0.3s;
}

/* Estilização dos elementos adicionados pelo JS */

ul > li > div > p{
  font-size: 1rem;
  word-break: normal;
 color: #89a7b1;
}

.deleteItemButton {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: #89a7b1;
  cursor: pointer;
  transition: color 0.5s;
}

.deleteItemButton:hover {
  color: #cf391d;
}

.markButton {
  margin: 0px 10px;
  color: #89a7b1;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.5s;
}

.markButton:hover {
  color: #a9f04d;
}

.activityDone {
  text-decoration: line-through;
  opacity: 0.5;
}

.buttonActivityDone {
  color: #a9f04d;
}
